<link rel="import" href="../../bower_components/polymer/polymer-element.html">

<dom-module id="mi-visor">
  <template>
    <style>
      :host {
        display: block;
      }
    </style>
    <div class="container">
      <div class="row">
          <img class="col-lg-8 col-xs-12" src="https://www.google.com/images/branding/googlelogo/2x/googlelogo_color_92x30dp.png">

       </div>
       <div class="row">
            <button on-click="incrementar" type="button" class="btn btn-success" name ="button"> Cargar Datos</button>
            <br>
            BIDIRECCIONAL:<input  type="text" placeholder="[[prop3]]" value="{{prop1::input}}">
            <br><br>
            UNIDIRECCIONAL:<input  type="text" value="[[prop1]]">
            <br>

       </div>


      <div class="row">
          <table class="table table-striped col-lg-12 col-xs-12">
            <thead>
                <th>ID</th>
                <th>NOMBRE</th>
                <th>APELLIDO</th>

            </thead>

            <tbody>
                <tr>
                    <td>[[prop2]]</td>
                    <td>FROY</td>
                    <td>MEJIA</td>
                </tr>
                <tr>
                    <td>2</td>
                    <td>FROY2</td>
                    <td>MEJIA</td>
                </tr>
                <tr>
                    <td>3</td>
                    <td>FROY3</td>
                    <td>MEJIA3</td>
                </tr>

            </tbody>
        </table>
      </div>

    </div>


  </template>

  <script>
    /**
     * @customElement
     * @polymer
     */
    class MiVisor extends Polymer.Element {
      static get is() { return 'mi-visor'; }
      static get properties() {
        return {
          prop1: {
            type: String
            //value: 'mi-visor'   /* Se quita par prop3*/
          },
          prop2:{
            type: Number,
            value:999
          },

          prop3:{
            type: String,
            value:"Indique su Usuario"
          }
        };
      }

      incrementar(){
        this.prop2=this.prop2+1;
        //this.prop2+=1;
        console.log ("prop2:" + this.prop2);
        console.log ("prop1" + this.prop1);
      }
    }

    window.customElements.define(MiVisor.is, MiVisor);
  </script>
</dom-module>
